.app {
    text-align: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Roboto;
    position: relative;
    background: #fcfcfc;
}

.content {
    flex: 1;
    margin-right: 70px;
    margin-left: 48px;
    height: 100%;
}

.footer {
    height: 80px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}
